*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-family: Rubik;
}
:root{
  font-size: 3vw;
}
@media (min-width:540px) {
  :root{
    font-size: 2.5vw;
  }
}
@media (min-width:720px) {
  :root{
    font-size: 1.25vw;
  }
}

@media (min-width:1600px) {
  :root{
    font-size: .85vw;
  }
}


::-webkit-scrollbar {
    width: 15px;
    background: #120808;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #FF9B31, #b61b10); 
    border-radius: 10px;
  }

  @import "./variables.scss";

.epimage {
	background-image: $episodes-bg;
	background-size: cover;
}


.bgimage{
	background-image: $hero-bg;
	background-size: cover;
	background-position-y: 60%;
}

.aboutbackground{
  background-image: $about-bg;
  background-size: cover;
}